body {
	background: #b9b8b8;
    background-image: url('scene.jpeg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: 100% 100%;
    background-position: center;


}

html {
    height: 100%
}

.logo {
	text-indent:  -999999px;
	background: url('topaz_image.jpg');
	width: 260px;
	height:143px;
}

/*-----------------------------------------------------------------------------*/
/* Bordered form */
form {
	height: 300px;
	width: 500px;
	background-color: rgba(248, 247, 250, 0.6);
	border: 10px solid rgba(248, 247, 250, 0.7);
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 20%;
    padding: 2px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: auto;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 6px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

/* Extra style for the cancel button (red) */
span.cancelbtn {
    width: auto;
    padding: 4px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
span.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
/*img.avatar {
    width: 10%;
    border-radius: 10%;
}*/

/* The "Forgot password" text */
span.psw {
    float: center;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;

    }
    .cancelbtn {
        width: 100%;
    }
}

.footer {
    position: absolute;
    /*width: 929px;*/
    width: 100%;
    height: 0px;
    bottom: 0;
    left: 0px;

    background-color: #000000;
    background-repeat: no-repeat;
    text-align: center;
    color: black;
    /*z-index: 25;*/
    /*float: left;*/
}

/*header shadow*/
h1 {
    text-shadow: 2px 2px;
}


/*background image animation*/
html {

    background-image:
        url('word.docx'),
        url('scene.jpeg'),
        url(8.jpg);
    background-position:
        0 20%,
        0 95%,
        0 0,
        0 100%,
        0 0;
    background-size:
        2500px,
        800px,
        500px 200px,
        1000px,
        400px 260px;
    animation: 100s para infinite linear;
    }
@keyframes para {
    100% {
        background-position:
            -1000px 20%,
            -800px 95%,
            500px 0,
            1000px 100%,
            400px 0;
        }
    }

